.container
  h1 Make Yourself A Nice Cup Of Coffee
  h2 Press The <code>START</code> Button
  .coffee-machine
    .top
      .middle-section.start
        h3 START
        .led
      .pour-section
        .drop
        
    .bottom
      .side.left
      .side.right
    .middle
      .bottom
        .circle
    .cup
      .handle
      .coffee